body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}

.login-button-container {
position: absolute;
top: 10px;
right: 10px;
z-index: 1;
}

.login-button-container button {
padding: 10px 15px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

.login-button-container button:hover {
background-color: #0056b3;
}


/* General styles for the table container */
table {
width: 95%;
margin: 20px auto;
overflow-x: auto;
border-collapse: collapse;
margin-bottom: 15px;
}


/* Style the header row */
th {
 background-color: #f2f2f2;
font-weight: bold;
text-align: left;
padding: 8px;
border: 1px solid #ddd;
}


/* Style the data rows */
td {
 padding: 8px;
border: 1px solid #ddd;
}

tr:nth-child(even) {
background-color: #f9f9f9;
}

/* Button alignment */
button {
margin-top: 10px;
padding: 10px 15px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.form-container {
width: 300px;
margin: 50px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
}

.form-container h2 {
text-align: center;
}

.form-container label {
display: block;
margin-bottom: 5px;
}

.form-container input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ddd;
border-radius: 4px;
box-sizing: border-box;
}

.form-container button {
padding: 10px 15px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
display: block;
margin: 10px auto;
}

.form-container button:hover {
background-color: #0056b3;
}


.form-container a {
display: block;
text-align: center;
margin-top: 10px;
}
